<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :desc %>
    <%= f.text_area :desc, class: "form-control",rows: 10  %>
  </div>

  <%= f.select :gender, [:woman, :man] %>

  <div class="form-group">
    <%= f.label :pos %>
    <%= f.number_field :pos, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :active %>
    <%= f.check_box :active, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit 'Сохранить', class: "btn btn-default" %>
  </div>
<% end %>
