<p id="notice"><%= notice %></p>


  <h1><%= @team.title %></h1>

<p>
  <%= @team.desc.html_safe %>
</p>

  <% @team.members.each do |member| %>
  <div class="row margin-top-10" >
  <div  class="col-md-6">
    <%= image_tag member.photo.url(:medium) , {width: 210}  %>
  </div>
  <div  class="col-md-6">
     <h3><%= member.title %></h3><br/>
     <b>Дата рождения:</b>   <%= !member.birthday || member.birthday.strftime("%d.%m.%Y")   %><br/>
     <b>Номер игрока:</b> <%= member.pos %><br/>


     <% if is_admin?  %>
        <%= link_to 'Edit', edit_member_path(member) %>
        <%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
  </div>
  </div>
  <% end %>



<% if is_admin? %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<% end %>
