<div class="row">
<div class="col-md-8">

<i><b><%=   I18n.localize( game.start_at , :format => :long ) %></b></i>  <b>Место:</b> <%= game.place_name %>  </br>
<%= game.team_one.title %> - <%= game.team_two.title %>

<% if game.score_a && game.score_b %>
Счет: <b><%= game.score_a %>- <%= game.score_b %></b> (<%= game.full_score %>)
<% end %>

</div>
<div  class="col-md-4">
<a  class="btn btn-default" href="<%= tournament_game_path(tournament_id: game.tournament_id, id: game.id ) %>"> Подробнее </a>
<% if is_admin?  %>
            <%= link_to 'Edit', edit_game_path(game), class: "btn btn-warning" %>
            <%= link_to 'Destroy', game, method: :delete, class: "btn btn-warning", data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-12">
<br>
<br>
</div>
</div>
