<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @game.start_at %>
</p>

<p>
  <strong>Place name:</strong>
  <%= @game.place_name %>
</p>

<p>
  <strong>Team a:</strong>
  <%= @game.team_one.title %>
</p>

<p>
  <strong>Team b:</strong>
  <%= @game.team_two.title %>
</p>

<p>
  <strong>Member a:</strong>
  <%= @game.member_one.try(:ttile) %>
</p>

<p>
  <strong>Member b:</strong>
  <%= @game.member_two.try(:title) %>
</p>

<p>
  <strong>Score a:</strong>
  <%= @game.score_a %>
</p>

<p>
  <strong>Score b:</strong>
  <%= @game.score_b %>
</p>

<p>
  <strong>Счет по партиям:</strong>
  <%= @game.full_score %>
</p>

<p>
  <strong>Игра перенесена?:</strong>
  <%= @game.rescheduled %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
